<%= link_to "Show all", faculties_path %><br/>
Go to <%= link_to "spesialty", specialties_path %><br/>
Факультет: <%= @fac.facultyname %><br/>
<% if not @fac.specialties.blank? %>
<ul>Специальности: 
	<% @fac.specialties.each do |spec| %>
	<li><%= spec.specialtyname %></li>
<% end %>
</ul>
<% end %>
