<%= link_to "Все факультеты", faculties_path, :class => "btn" %>
Go to <%= link_to "Все спицеальности", specialties_path, :class => "btn" %><br/>
Факультет: <%= @fac.facultyname %><br/>
<% if not @fac.specialties.blank? %>
<ul>Специальности: 
	<% @fac.specialties.each do |spec| %>
	<li><%= spec.specialtyname %></li>
<% end %>
</ul>
<% end %>
